{% extends 'base.html.twig' %}

{% block title %}Gestion de l'actus{% endblock %}

{% block body %}



<div class='actualite'>


    <h3>Voici les dernieres news</h3>

    <p>L’expérience client, au cœur de l’activité en hôtellerie restauration, est inhérente à la satisfaction et à la fidélisation client. A l’heure où le digital a pris le dessus, où les avis clients sont une véritable publicité, maîtriser son expérience client semble essentiel pour attirer de nouveaux clients et garder sa clientèle actuelle. Entre les techniques de mesures et idées innovantes, cet article vous permet de faire un point sur l’amélioration de l’expérience client.</p>

                            <h4>Mesurer la satisfaction client</h4>

    <p>Pour améliorer l’expérience client, l’important est déjà de pouvoir évaluer, mesurer la satisfaction client. Pour cela, posez-vous des questions :</p>


    <h5>Qu’est-ce qu’un client satisfait ? Quels critères de valeurs sont essentiels pour mon établissement ?</h5>

    <p>En bref, donnez votre propre définition de la satisfaction client afin de pouvoir déterminer des critères simples et en adéquation avec votre activité.
    
    Par exemple, si pour vous un client satisfait est un client qui a apprécié son repas, vous pouvez mettre en place un journal de bord pour noter les clients qui semblent satisfaits, qui terminent l’intégralité de leur plat, ou simplement noter le nombre de remarques négatives que vous recevez sur un mois.</p>

</div>
               

 {% endblock %}