<footer class="mt-auto fixed-bottom mb-3">
    <div class="container border-top">
        <div class="d-flex">
        
            <div class="col-4 col-md">
                <h5>Chambre</h5> 
            </div>
            <div class="col-4 col-md">
                <h5>Restaurant</h5>
                
            </div>
            <div class="col-4 col-md">
                <h5>Spa</h5>  
            </div>
            
        </div>
         <div class="col-6 col-md d-flex">
                <ul class="list-unstyled">
                <small class="d-block text-muted">&copy; 2022</small>
                    <li><a href="#" class="text-muted">Mentions légales</a></li>
                    <li><a href="#" class="text-muted">Politique de confidentialité</a></li>
                    <li><a href="#" class="text-muted">Contact</a></li>
                    <li><a href="#" class="text-muted">Plan du site</a></li>
                    <li><a href="#" class="text-muted">Contact</a></li>
                </ul>
            </div>
    </div>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col">
                <p class="text-center text-white">&copy; HouseHotel 2022</p>
            </div>
        </div>
    </div>
</footer>
