{% extends 'base.html.twig' %}

{% block title %}Gestion des chambre{% endblock %}

{% block body %}

<div class='avis'>


<h1>Avis des Clients</h1>


<p>8 Français sur 10 déclarent accorder de l’importance aux avis clients déposés en ligne (étude OpinionWay 2017 réalisée pour les Pages Jaunes). Afficher des avis positifs sur son établissement devient ainsi décisif pour convaincre les prospects de s'y rendre ; à l'inverse une pluie d'avis négatifs peut détourner de potentiels clients. Comment prendre soin de son e-réputation ? Que faire des avis clients négatifs ? Comment réduire leur impact ? On vous explique tout ici.</p>


</div>








 {% endblock %}