{% extends 'base.html.twig' %}

{% block Title %}Acceuil{% endblock %}

{% block body %}
              
              <div class="row my-4">
                   <div class="row justify-content-center my- mx-auto col-3  ">
               
                  <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-primary">HouseHotel | Découvrez nos chambres</button>
           
{% endblock %}
