{% extends 'base.html.twig' %}

{% block title %}Gestion de Hotel{% endblock %}

{% block body %}


<div class='contact'>




<h1>Qui nous sommes</h1>


<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi optio est iusto veritatis porro, at ex sapiente id? Esse eos velit ratione minus possimus autem consequuntur nulla quod adipisci dicta?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos id quis, fugiat voluptas tempora fugit! Eum laudantium eos, ad quis animi incidunt, dolorum doloribus sequi aliquam nobis obcaecati architecto consequatur.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit a quod corrupti quae quo nobis, fuga repellendus ipsum deleniti hic amet veritatis debitis. Dolorem, ratione at minima mollitia voluptatibus accusantium!</p>

</div>

 {% endblock %}